---
layout: project
title: Download - Cache Stores
---

.row
  .col-md-9

    %ul.breadcrumb
      %li
        %a{:href => "/download"} Downloads
      %li.active Cache Store Implementations

    %h1 Core Cache Stores
    %p
      The following cache stores are part of the core Infinispan distribution and therefore are developed and released in-sync with Infinispan itself. Most of these cache stores are included in the
      %code infinispan-embedded
      JAR. Those which require additional dependencies are available in separate artifacts.
    %table.table.table-striped
      %tbody
        - site.ispn.cachestores.core.each do |name, store|
          -# Loop through remaining cache store impls
          %tr
            %td.col-md-9
              %h4 #{store.title}
              %p
                = partial(store.text)
            %td.col-md-3
              - if store.has_key?("maven_artifact_id")
                = partial( 'maven-coords-button.html.haml', {"artifactId" => store.maven_artifact_id, "version_stable" => site.ispn.stable.maven_latest, "version_unstable" => site.ispn.unstable.maven_latest} )
              %br
              = partial( 'docs-button.html.haml', {"docspage" => store.docs})

    %h1 Extra Cache Stores
    %p The following cache stores are developed and maintained independently of the Infinispan release cycle, so they might not be aligned with the latest version of the Cache Store SPI.

    %table.table.table-striped
      %tbody
        - site.ispn.cachestores.extra.each do |name, store|
          -# Loop through remaining cache store impls
          %tr
            %td.col-md-9
              %h4 #{store.title}
              %p
                = partial(store.text)
                Compatible with Infinispan #{store.version_infinispan}
            %td.col-md-3
              = partial( 'maven-coords-button.html.haml', {"artifactId" => store.maven_artifact_id, "version_stable" => store.version_stable, "version_unstable" => store.version_unstable} )
              %br
              = partial( 'docs-button.html.haml', {"docspage" => store.docs})

  .col-md-3
    %h3 Cache Stores
    %p
      A cache store is how Infinispan optional persists data - either to disk or some other form of durable storage.  A number of cache store implementations are available for you to use, and you can even implement your own custom cache store quite easily.  A good way to do so is to look at the source code of an existing cache store and modifying it accordingly.
    %p
      %i.icon-tag
      %a{:href => "/docs/stable/user_guide/user_guide.html#persistence", :target => "_NEW"}Want to learn more about cache stores?
    %p
      %i.icon-tag
      %a{:href => "/docs/stable/user_guide/user_guide.html#configuration_2", :target => "_NEW"}Guide to configuring and using cache stores
    %hr
    = partial("rightcol-docs.html.haml")


