---
layout: project
title: Download - Cache Stores
---

.row-fluid
  .span9

    %ul.breadcrumb
      %li
        %a{:href => "/download.html"} Downloads
        %span.divider /
      %li.active Cache Store Implementations

    %h1 Cache Store Implementations
    .row-fluid
      %table.table.table-striped
        %tbody
          %tr
            %td{:colspan => "3"}
              %h4 File Cache Store
              %p
                Infinispan already ships with a couple of cache store implementations as a part of 
                %code infinispan-core
                These are the FileCacheStore (
                %a{:href => "http://docs.jboss.org/infinispan/6.0/apidocs/index.html?org/infinispan/loaders/file/FileCacheStore.html"} javadocs
                ,
                %a{:href => "http://docs.jboss.org/infinispan/6.0/apidocs/index.html?org/infinispan/loaders/file/FileCacheStoreConfig.html"} config
                ) and the SingleFileCacheStore (
                %a{:href => "http://docs.jboss.org/infinispan/6.0/apidocs/index.html?org/infinispan/loaders/file/SingleFileCacheStore.html"} javadocs
                ,
                %a{:href => "http://docs.jboss.org/infinispan/6.0/apidocs/index.html?org/infinispan/loaders/file/SingleFileCacheStoreConfig.html"} config
                ).  You don't need to download or install any additional libraries to make use of these cache stores.
          %tr
            %td
              %h4 Cloud Cache Store
              %p 
                This cache store implementation persists data to cloud storage services, such as 
                %a{:href => "http://aws.amazon.com/s3/"}Amazon's S3
                service or
                %a{:href => "http://www.rackspace.com/cloud/files/"}Rackspace's CloudFiles
                service.  Internally makes use of
                %a JClouds
                for communication with cloud storage services.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-cloud"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Cloudcacheloader"})

          %tr
            %td
              %h4 Remote Cache Store
              %p 
                This cache store implementation persists data to a remote Infinispan cluster, over the
                %a{:href => "#{site.base_url}/hotrod-clients.html"} Hot Rod
                wire protocol, effectively chaining clusters together.   
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-remote"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Remotecacheloader"})


          %tr
            %td
              %h4 JDBC Cache Store
              %p 
                This cache store implementation persists data to a relational database via a JDBC driver.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-jdbc"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-JDBCbasedcacheloaders"})

          %tr
            %td
              %h4 Cassandra Cache Store
              %p 
                This cache store implementation persists data to 
                %a{:href => "http://cassandra.apache.org/"}Cassandra.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-cassandra"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Cassandracacheloader"})
          %tr
            %td
              %h4 LevelDB Cache Store
              %p 
                This cache store implementation persists data to 
                %a{:href => "https://code.google.com/p/leveldb/"}LevelDB.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-leveldb"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-LevelDBcachestore"})
            
          %tr
            %td
              %h4 HBase Cache Store
              %p 
                This cache store implementation persists data to 
                %a{:href => "http://hbase.apache.org/"}HBase.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-hbase"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://github.com/infinispan/infinispan-cachestore-hbase"})
            
          %tr
            %td
              %h4 MongoDB Cache Store
              %p 
                This cache store implementation persists data to
                %a{:href => "http://www.mongodb.org/"}MongoDB.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-mongodb"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-MongoDBcacheloader"})
            
          %tr
            %td
              %h4 JPA Cache Store
              %p 
                This cache store implementation persists data to a relational database via the
                %a{:href => "http://www.oracle.com/technetwork/java/javaee/tech/persistence-jsp-140049.html"}JPA
                interface.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-jpa"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-JPAcachestore"})

            
          %tr
            %td
              %h4 BDBJE Cache Store
              %p 
                This cache store implementation persists data to Oracle's  
                %a{:href => "http://www.oracle.com/technetwork/database/berkeleydb/overview/index-093405.html"}SleepyCat BerkeleyDB
                embedded database.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-bdbje"} )
            %td   
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Cloudcacheloader"})
            
          %tr
            %td
              %h4 JDBM Cache Store
              %p 
                This cache store implementation persists data into the
                %a{:href => "http://jdbm.sourceforge.net/"}JDBM
                embedded database.
            %td
              = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-cachestore-jdbm"} )
            %td
              = partial( 'docs-button.html.haml', {"docspage" => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Cloudcacheloader"})


  .span3
    %h3 Cache Stores
    %p
      A cache store is how Infinispan optional persists data - either to disk or some other form of durable storage.  A number of cache store implementations are available for you to use, and you can even implement your own custom cache store quite easily.  A good way to do so is to look at the source code of an existing cache store and modifying it accordingly.
    %p
      %i.icon-tag
      %a{:href => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores"}Want to learn more about cache stores?
    %p
      %i.icon-tag
      %a{:href => "https://docs.jboss.org/author/display/ISPN/Cache+Loaders+and+Stores#CacheLoadersandStores-Configuration"}Guide to configuring and using cache stores
    %hr
    = partial("rightcol-docs.html.haml")


