---
layout: project
title: Download - Cache Stores
---

.row-fluid
  .span9

    %ul.breadcrumb
      %li
        %a{:href => "/download"} Downloads
        %span.divider /
      %li.active Cache Store Implementations

    %h1 Cache Store Implementations
    .row-fluid
      %table.table.table-striped
        %tbody
          %tr
            %td{:colspan => "3"}
              -# FileCacheStore gets special treatment ...
              %h4 File Cache Store
              %p
                Infinispan already ships with a couple of cache store implementations as a part of 
                %code infinispan-core
                These are the FileCacheStore (
                %a{:href => site.ispn.fcs_javadoc} javadocs
                ,
                %a{:href => site.ispn.fcs_cfg_javadoc } config
                ) and the SingleFileCacheStore (
                %a{:href => site.ispn.sfcs_javadoc} javadocs
                ,
                %a{:href => site.ispn.sfcs_cfg_javadoc} config
                ).  You don't need to download or install any additional libraries to make use of these cache stores.
          - site.ispn.cachestores.each do |name, store|
            -# Loop through remaining cache store impls
            %tr
              %td
                %h4 #{store.title}
                %p
                  = partial(store.text)
              %td
                = partial( 'maven-coords-button.html.haml', {"artifactId" => store.maven_artifact_id, "version_stable" => store.version_stable, "version_unstable" => store.version_unstable} )
              %td
                = partial( 'docs-button.html.haml', {"docspage" => store.docs})              

  .span3
    %h3 Cache Stores
    %p
      A cache store is how Infinispan optional persists data - either to disk or some other form of durable storage.  A number of cache store implementations are available for you to use, and you can even implement your own custom cache store quite easily.  A good way to do so is to look at the source code of an existing cache store and modifying it accordingly.
    %p
      %i.icon-tag
      %a{:href => "/docs/7.0.x/user_guide/user_guide.html#_persistence", :target => "_NEW"}Want to learn more about cache stores?
    %p
      %i.icon-tag
      %a{:href => "/docs/7.0.x/user_guide/user_guide.html#_configuration_2", :target => "_NEW"}Guide to configuring and using cache stores
    %hr
    = partial("rightcol-docs.html.haml")


