---
layout: rightcol
rightcol_partial: rightcol-download.html.haml
title: Download
---

.row-fluid
  %h1 Infinispan #{site.ispn.unstable.minor_version}
  %i{:style => "font-size: 150%;"} “#{site.ispn.unstable.codename}"
  .row-fluid
    .span2
      .label.label-warning
        %i.icon-warning-sign
        Unstable
    .span10
      %h3 #{site.ispn.unstable.version}
      %p #{site.ispn.unstable.whats_new}
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.all}
            %i.icon-download-alt
            All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.bin}
            %i.icon-download-alt
            Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
        .span3
          %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.server}
            %i.icon-download-alt
            Server
          Contains the Infinispan server runtime for use as a remote data grid
          %br
      %br
      .row-fluid
        .span12{:style => "text-align: right;"}
          %a{:href => site.ispn.unstable.release_notes, :target => "_NEW"}
            %i.icon-pencil
            Release notes
          &nbsp;&nbsp;
          = partial( 'maven-coords-link.html.haml', {"artifactId" => "infinispan-core", "version_stable" => site.ispn.stable.maven_latest, "version_unstable" => site.ispn.unstable.maven_latest, "modal_id" => "main"} )
%hr

.row-fluid
  %h1 Infinispan #{site.ispn.stable.minor_version}
  %i{:style => "font-size: 150%;"} “#{site.ispn.stable.codename}”
  .row-fluid
    .span2
      .label.label-success
        %i.icon-check-sign
        Stable
    .span10
      %h3 #{site.ispn.stable.version}
      %p #{site.ispn.stable.whats_new}
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.all}
            %i.icon-download-alt
            All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.bin}
            %i.icon-download-alt
            Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
        .span3
          %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.server}
            %i.icon-download-alt
            Server
          Contains the Infinispan server runtime for use as a remote data grid
          %br
      %br
      .row-fluid
        .span12{:style => "text-align: right;"}
          %a{:href => site.ispn.stable.release_notes, :target => "_NEW"}
            %i.icon-pencil
            Release notes
          &nbsp;&nbsp;
          = partial( 'maven-coords-link.html.haml', {"artifactId" => "infinispan-core", "version_stable" => site.ispn.stable.maven_latest, "version_unstable" => site.ispn.unstable.maven_latest, "modal_id" => "main"} )

#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
        Download older versions of Infinispan
        %i.icon-angle-down
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Version
              %th All
              %th Minimal
              %th Server
              %th Maven
          %tbody
            - site.ispn.old.each do |ver, info|
              = partial( 'download-tbl-row.html.haml', {"release_version" => ver, "release_info" => info} )
          %br