---
layout: rightcol
rightcol_partial: rightcol-download.html.haml
title: Download
---

.row-fluid
  %h1 Infinispan 6.0.0
  %i{:style => "font-size: 150%;"} “#{site.project_unstable_codename}”
  .row-fluid
    .span2
      .label.label-warning
        %i.icon-warning-sign
        Unstable
    .span10
      %h3 #{site.project_unstable}
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-warning.btn-block{:href => "http://downloads.jboss.org/infinispan/6.0.0.Alpha3/infinispan-6.0.0.Alpha3-all.zip"}
            %i.icon-download-alt
            All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-warning.btn-block{:href => "http://downloads.jboss.org/infinispan/6.0.0.Alpha3/infinispan-6.0.0.Alpha3-bin.zip"}
            %i.icon-download-alt
            Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
        .span3
          %a.btn.btn-warning.btn-block{:href => "http://downloads.jboss.org/infinispan/6.0.0.Alpha3/infinispan-server-6.0.0.Alpha3-bin.zip"}
            %i.icon-download-alt
            Server
          Contains the Infinispan server runtime for use as a remote data grid
          %br
      %br
      .row-fluid
        .span12{:style => "text-align: right;"}
          = partial( 'maven-coords-link.html.haml', {"artifactId" => "infinispan-core"} )
%hr

.row-fluid
  %h1 Infinispan 5.3.0
  %i{:style => "font-size: 150%;"} “#{site.project_stable_codename}”
  .row-fluid
    .span2
      .label.label-success
        %i.icon-check-sign
        Stable
    .span10
      %h3 #{site.project_stable}
      .row-fluid
        .span3
          %p Zip Downloads:
        .span3
          %a.btn.btn-success.btn-block{:href => "http://downloads.jboss.org/infinispan/5.3.0.Final/infinispan-5.3.0.Final-all.zip"}
            %i.icon-download-alt
            All
          Contains all Infinispan components and demos
        .span3
          %a.btn.btn-success.btn-block{:href => "http://downloads.jboss.org/infinispan/5.3.0.Final/infinispan-5.3.0.Final-bin.zip"}
            %i.icon-download-alt
            Minimal
          Contains just the core Infinispan libraries for embedding in your application
          %br
        .span3
          %a.btn.btn-success.btn-block{:href => "http://downloads.jboss.org/infinispan/5.3.0.Final/infinispan-server-5.3.0.Final-bin.zip"}
            %i.icon-download-alt
            Server
          Contains the Infinispan server runtime for use as a remote data grid
          %br
      %br
      .row-fluid
        .span12{:style => "text-align: right;"}
          = partial( 'maven-coords-link.html.haml', {"artifactId" => "infinispan-core"} )

#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
        Download older versions of Infinispan
        %i.icon-angle-down
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Version
              %th All
              %th Minimal
              %th Server
          %tbody
            = partial( 'download-tbl-row.html.haml', {"ver"=>"5.2.1", "codename"=>"Delirium", "all"=>"http://downloads.jboss.org/infinispan/5.2.1.Final/infinispan-5.2.1.Final-all.zip", "bin"=>"http://downloads.jboss.org/infinispan/5.2.1.Final/infinispan-5.2.1.Final-bin.zip", "server"=>"http://downloads.jboss.org/infinispan/5.2.1.Final/infinispan-5.2.1.Final-server-rest.zip"})

            = partial( 'download-tbl-row.html.haml', {"ver"=>"5.1.6", "codename"=>"Brahma", "all"=>"http://downloads.jboss.org/infinispan/5.1.6.FINAL/infinispan-5.1.6.FINAL-all.zip", "bin"=>"http://downloads.jboss.org/infinispan/5.1.6.FINAL/infinispan-5.1.6.FINAL-bin.zip", "server"=>"http://downloads.jboss.org/infinispan/5.1.6.FINAL/infinispan-5.1.6.FINAL-server-rest.zip"})

            = partial( 'download-tbl-row.html.haml', {"ver"=>"5.0.1", "codename"=>"Pagoa", "all"=>"http://downloads.jboss.org/infinispan/5.0.1.FINAL/infinispan-5.0.1.FINAL-all.zip", "bin"=>"http://downloads.jboss.org/infinispan/5.0.1.FINAL/infinispan-5.0.1.FINAL-bin.zip", "server"=>"http://downloads.jboss.org/infinispan/5.0.1.FINAL/infinispan-5.0.1.FINAL-server-rest.zip"})

            = partial( 'download-tbl-row.html.haml', {"ver"=>"4.2.1", "codename"=>"Ursus", "all"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.2.1.FINAL/infinispan-4.2.1.FINAL-all.zip/download", "bin"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.2.1.FINAL/infinispan-4.2.1.FINAL-bin.zip/download", "server"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.2.1.FINAL/infinispan-4.2.1.FINAL-server-rest.zip/download"})

            = partial( 'download-tbl-row.html.haml', {"ver"=>"4.1.0", "codename"=>"Radegast", "all"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.1.0.FINAL/infinispan-4.1.0.FINAL-all.zip/download", "bin"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.1.0.FINAL/infinispan-4.1.0.FINAL-bin.zip/download", "server"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.1.0.FINAL/infinispan-4.1.0.FINAL-server-rest.zip/download"})

            = partial( 'download-tbl-row.html.haml', {"ver"=>"4.0.0", "codename"=>"Starobrno", "all"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.0.0.FINAL/infinispan-4.0.0.FINAL-all.zip/download", "bin"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.0.0.FINAL/infinispan-4.0.0.FINAL-bin.zip/download", "server"=>"http://sourceforge.net/projects/infinispan/files/infinispan/4.0.0.FINAL/infinispan-4.0.0.FINAL-server-rest.zip/download"})
