---
layout: rightcol
rightcol_partial: rightcol-download.html.haml
title: Download
---
- if site.ispn.has_key?("unstable")
  %a{:name => "unstable"}
  .row
    .col-md-12
      %h1{:style => "margin-bottom: 0"} Infinispan #{site.ispn.unstable.version}
      %p
        .label.label-warning
          %i.icon-warning-sign
            Development
        %i &nbsp; “#{site.ispn.unstable.codename}"
        released #{site.ispn.unstable.release_date}
  .row  
    .col-md-12
      %p #{site.ispn.unstable.whats_new}
      
  .row
    .col-md-3.text-center
      %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.all}
        %i.icon-download-alt
        Embedded
      Contains all core and optional Infinispan components for embedding in your application and demos
    .col-md-3.text-center
      %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.bin}
        %i.icon-download-alt
        Minimal
      Contains just the core Infinispan libraries for embedding in your application
      %br
    .col-md-3.text-center
      %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.server}
        %i.icon-download-alt
        Server
      Contains the Infinispan server runtime for use as a remote data grid
      %br
    .col-md-3.text-center
      %a.btn.btn-warning.btn-block{:href => site.ispn.unstable.download.as7modules}
        %i.icon-download-alt
        WildFly/EAP Modules
      Packaged modules for deploying in WildFly/JBoss EAP
      %br
  %br
  .row
    .col-md-3.col-md-offset-3
      %a.btn.btn-primary.btn-block{:href => "/release-notes#" + site.ispn.unstable.minor_version.to_s}
        %i.icon-pencil
        Release notes
    .col-md-3
      %a.btn.btn-primary.btn-block{:href => site.ispn.unstable.release_notes, :target => "_NEW"}
        %i.fa.fa-bug
        Fixed issues
    .col-md-3
      = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-core", "version_stable" => site.ispn.stable.maven_latest, "version_unstable" => site.ispn.has_key?("unstable") ? site.ispn.unstable.maven_latest : nil, "modal_id" => "main"} )
  %hr

%a{:name => "stable"}
.row
  .col-md-12
    %a.btn.btn-success.btn-block{href:"https://www.redhat.com/en/technologies/jboss-middleware/data-grid", target:"_NEW"}
      %span{style: "font-size:25px;line-height:normal;"} Download a supported version of Infinispan
      %img(src="https://www.jboss.org/dms/content/common/downloadicon_64px.png")
      
.row
  .col-md-12
    %h1{:style => "margin-bottom: 0"} Infinispan #{site.ispn.stable.version}
    %p
      .label.label-success
        %i.icon-check-sign
          Stable
      %i &nbsp; “#{site.ispn.stable.codename}"
      released #{site.ispn.stable.release_date}
.row
  .col-md-12
    %p #{site.ispn.stable.whats_new}
    
.row
  .col-md-3.text-center
    %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.all}
      %i.icon-download-alt
      All
    Contains all Infinispan components and demos
  .col-md-3.text-center
    %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.bin}
      %i.icon-download-alt
      Minimal
    Contains just the core Infinispan libraries for embedding in your application
    %br
  .col-md-3.text-center
    %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.server}
      %i.icon-download-alt
      Server
    Contains the Infinispan server runtime for use as a remote data grid
    %br
  .col-md-3.text-center
    %a.btn.btn-success.btn-block{:href => site.ispn.stable.download.as7modules}
      %i.icon-download-alt
      WildFly/EAP Modules
    Packaged modules for deploying in WildFly/JBoss EAP
    %br
%br
.row
  .col-md-3.col-md-offset-3
    %a.btn.btn-primary.btn-block{:href => "/release-notes#" + site.ispn.stable.minor_version.to_s}
      %i.icon-pencil
      Release notes
  .col-md-3
    %a.btn.btn-primary.btn-block{:href => site.ispn.stable.release_notes, :target => "_NEW"}
      %i.fa.fa-bug
      Fixed issues
  .col-md-3
    = partial( 'maven-coords-button.html.haml', {"artifactId" => "infinispan-embedded", "version_stable" => site.ispn.stable.maven_latest, "version_unstable" => site.ispn.unstable.maven_latest, "modal_id" => "main"} )
%hr
.row
  .col-md-12
    %h4
      Download older versions of Infinispan
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Version
          %th Release date
          %th Release notes
          %th Downloads
          %th Maven
      %tbody
        - site.ispn.old.each do |ver, info|
          = partial( 'download-tbl-row.html.haml', {"release_version" => ver, "release_info" => info} )
