---
layout: project
title: Download - Cache Stores
---

.row
  .col-md-9

    %ul.breadcrumb
      %li
        %a{:href => "/download"} Downloads
        %span.divider /
      %li.active Hot Rod Clients

    %h1 Hot Rod Clients
    .row
      %table.table.table-striped
        %tbody
          -# Loops through all of the hotrod clients listed in ispn.yml
          - site.ispn.hotrod.each do |client_name, client_info|
            %tr
              %td
                %h3 #{client_info.title}
                %p
                  = partial(client_info.text)
              %td{:width => "270px;"}
                -# If the client is a Java client, then display download links + Maven coordinates
                - if client_name == "java"                
                  %a.btn.btn-success{:href=>client_info.stable.download, :style => "height: 50px; width: 100px;"} 
                    %i.icon-download-alt
                    #{client_info.stable.version}
                    %br
                    %i.icon-check-sign
                      Stable
                  - if client_info.has_key?("unstable")
                    %a.btn.btn-warning{:href=>client_info.unstable.download, :style => "height: 50px; width: 100px;"}
                      %i.icon-download-alt
                      #{client_info.unstable.version}
                      %br
                      %i.icon-warning-sign
                        Unstable
                  %br
                  = partial( 'maven-coords-link.html.haml', {"artifactId" => client_info.maven_artifact_id, "modal_id" => "icr", "version_stable" => client_info.stable.version, "version_unstable" => client_info.has_key?("unstable") ? client_info.unstable.version : nil} )
                - else
                  -# Otherwise just display a GitHub link
                  = partial( 'view-on-github-button.html.haml', {"repo" => client_info.github} )
                  = partial( 'docs-button.html.haml', {"docspage" => client_info.docs} )
                  - if client_info.has_key?("downloads")
                    = partial( 'download-link.html.haml', {"title" => client_info.title + " Downloads", "downloads" => client_info.downloads, "modal_id" => client_name} )

  .col-md-3
    %h3 Hot Rod
    %p
      Hot Rod is a wire protocol that Infinispan clients use to talk to a remote grid.  It is a binary, platform-independent protocol that was developed in the open as a part of Infinispan.
    %p
      The Hot Rod
      %a{:href => "/docs/7.0.x/user_guide/user_guide.html#_hot_rod_protocol", :target => "_NEW"} specification
      is available on-line, and several clients exist for this protocol.
    %hr
    %h3 Contributing Clients
    %p Want to contribute more clients for Hot Rod? We’d love you to do so!
    %i.icon-tag
    %a{:href => "/docs/7.0.x/contributing/contributing.html", :target => "_NEW"} Learn more about getting involved.
    %hr
    = partial("rightcol-docs.html.haml")
