---
layout: project
title: Infinispan Homepage
---

.row
  .col-md-9
    %h2(style = "margin-top:0") What is Infinispan ?
    %p.lead
      Infinispan is a distributed in-memory key/value data store with optional schema, available under the 
      Apache License 2.0. 
    %ul.lead
      %li Available as an embedded Java library or as a language-independent service accessed remotely over a variety of protocols (Hot Rod, REST, Memcached)
      %li Use it as a cache or a data grid.
      %li Advanced functionality such as persistence, transactions, events, querying, distributed processing, off-heap and geographical failover.
      %li Monitor and manage it through JMX, a CLI and a web-based console.
      %li Integrates with JPA, JCache, Spring, Spark and many more.
      %li Works on bare-metal, containerized and virtualized environments.
      %li Works on AWS, Azure, Google Cloud, Kubernetes and OpenShift.
    %h4
      %a(href = "/features") Read about our features
    .panel.panel-info
      .panel-heading
        %h3
          %a(href="/blog") News
      .panel-body
        = partial ( 'latest-posts.html.haml' )
    .row.home-examples
      .col-md-6
        %h3.well Store and retrieve
        %ul
          %li
            %a{:href => "/tutorials/simple/map"}
              As a Java ConcurrentHashMap
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/jcache"}
              With the JCache API
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/functional"}
              With the Functional API
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/tx"}
              Use transactions
              %i.fa.fa-caret-square-o-right
      .col-md-6
        %h3.well Scale and Share
        %ul
          %li
            %a{:href => "/tutorials/simple/replicated"}
              Replicate data to all nodes
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/distributed"}
              Distribute data to increase capacity
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/remote"}
              Access your data remotely
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/spring"}
              Bootstrap Infinispan using Spring
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/openshift"}
              Use Infinispan with OpenShift and Kubernetes
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/cplusplus"}
              Write your applications in C++
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/csharp"}
              Write your applications in C#
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/javascript"}
              Write your applications in Javascript
              %i.fa.fa-caret-square-o-right
    .row.home-examples
      .col-md-6
        %h3.well Listen and query
        %ul
          %li
            %a{:href => "/tutorials/simple/listen"}
              Detect when data changes in an embedded cache
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/remote-listen"}
              Detect when data changes in a remote cache
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/query"}
              Index and search your data
              %i.fa.fa-caret-square-o-right
      .col-md-6
        %h3.well Compute
        %ul
          %li
            %a{:href => "/tutorials/simple/streams"}
              Distributed streams
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/scripting"}
              Perform complex operations with scripting
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/spark"}
              Integrate with Apache Spark
              %i.fa.fa-caret-square-o-right

  .col-md-3
    - if site.ispn.has_key?("unstable")
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Development
        .panel-body
          %h3.text-center
            #{site.ispn.unstable.version}
          %p.text-center #{site.ispn.unstable.release_date}
          .row
            .col-md-6
              %a.btn.btn-warning.btn-block{:href => "/download#unstable"}
                %i.icon-download-alt
                Download
            .col-md-6
              %a.btn.btn-warning.btn-block{:href => "/docs/dev/index.html"}
                %i.icon-book
                Docs
    .panel.panel-success
      .panel-heading
        %h3.panel-title Stable
      .panel-body
        %h3.text-center
          #{site.ispn.stable.version}
        %p.text-center #{site.ispn.stable.release_date}
        .row
          .col-md-6
            %a.btn.btn-success.btn-block{:href => "/download#stable"}
              %i.icon-download-alt
              Download
          .col-md-6
            %a.btn.btn-success.btn-block{:href => "/docs/stable/index.html"}
              %i.icon-book
              Docs    
    .panel.panel-sidebar
      .panel-heading Paid support
      .panel-body
        %h4 
          Get 
          %a{:href => "https://www.redhat.com/en/technologies/jboss-middleware/data-grid"}
            JBoss Data Grid, 
          a version of Infinispan supported by 
          %a{:href => "http://www.redhat.com"}
            Red Hat
    .panel.panel-sidebar
      .panel-heading Follow us
      .panel-body
        %a(href="https://twitter.com/infinispan")
          %img(src="images/twitter.png")
        %a(href="https://www.facebook.com/infinispan")
          %img(src="images/facebook.png")
        %a(href="https://www.youtube.com/user/infinispan")
          %img(src="images/youtube.png")

