---
layout: project
title: Infinispan Homepage
---

.row
  .col-md-9.lead
    .row
      %h2(style = "margin-top:0") What is Infinispan ?
      Infinispan is a distributed in-memory key/object data store made available under the Apache License 2.0. 
      It can be used both as an embedded Java library and as a language-independent service accessed remotely 
      over a variety of protocols (HotRod, REST and Memcached). It offers advanced functionality such as 
      transactions, events, querying and distributed processing.
      %a(href = "/features") Read about our features
    .row
      .col-md-6
        %h3.well Store and retrieve
        %ul
          %li
            %a{:href => "https://github.com/infinispan/infinispan-simple-tutorials/blob/master/map/src/main/java/org/infinispan/tutorial/simple/map/InfinispanMap.java"}
              As a Java Concurrent HashMap
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/jcache"}
              With the JCache API
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "https://github.com/infinispan/infinispan-simple-tutorials/blob/master/functional/src/main/java/org/infinispan/tutorial/simple/functional/InfinispanFunctional.java"}
              With the Functional API
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/spring"}
              With Spring
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "https://github.com/infinispan/infinispan-simple-tutorials/blob/master/tx/src/main/java/org/infinispan/tutorial/simple/tx/InfinispanTx.java"}
              Use transactions
              %i.fa.fa-caret-square-o-right
      .col-md-6
        %h3.well Scale and Share
        %ul
          %li
            %a{:href => "/tutorials/simple/repl"}
              Replicate data to all nodes
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/dist"}
              Distribute data to increase capacity
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/hotrod"}
              Access your data remotely
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/polyglot"}
              Write your applications in different languages
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/xsite"}
              Backup your data to remote sites
              %i.fa.fa-caret-square-o-right
    .row
      .col-md-6
        %h3.well Listen and query
        %ul
          %li
            %a{:href => "/tutorials/simple/listen"}
              Detect when data changes
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/query"}
              Index and search your data
              %i.fa.fa-caret-square-o-right
      .col-md-6
        %h3.well Compute
        %ul
          %li
            %a{:href => "/tutorials/simple/streams"}
              Distributed streams
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/scripting"}
              Perform complex operations with scripting
              %i.fa.fa-caret-square-o-right
          %li
            %a{:href => "/tutorials/simple/spark"}
              Integrate with Apache Spark
              %i.fa.fa-caret-square-o-right

  .col-md-3
    .panel.panel-info
      .panel-heading Versions
      .panel-body
        %a.btn.btn-success.btn-block{:href => "/download#stable"}
          %i.icon-download-alt
          %h4 Stable #{site.ispn.stable.version}
        %a.btn.btn-warning.btn-block{:href => "/download#unstable"}
          %i.icon-warning-sign
          %h4 Development #{site.ispn.unstable.version}
    .panel.panel-info
      .panel-heading Latest news
      .panel-body
        = partial ( 'latest-news.html.haml' )
    .panel.panel-info
      .panel-heading Paid support
      .panel-body
        %h4 
          Get 
          %a{:href => "http://www.redhat.com/promo/infspn2jdg/"}
            JBoss Data Grid, 
          a version of Infinispan supported by 
          %a{:href => "http://www.redhat.com"}
            Red Hat
    .panel.panel-info
      .panel-heading Who uses Infinispan ?
      .panel-body
        %a.btn.btn-primary.btn-block(href="https://wildfly.org")
          WildFly
        %a.btn.btn-primary.btn-block(href="http://hibernate.org/orm/")
          Hibernate ORM
        %a.btn.btn-primary.btn-block(href="http://teiid.jboss.org/")
          Teiid
        %a.btn.btn-primary.btn-block(href="http://camel.apache.org")
          Apache Camel
        %a.btn.btn-primary.btn-block(href="http://marmotta.apache.org")
          Apache Marmotta
    .panel.panel-info
      .panel-heading Follow us
      .panel-body
        %a(href="https://twitter.com/infinispan")
          %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
        %a(href="http://www.facebook.com/infinispan")
          %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_facebook.png")
        %a(href="https://www.google.com/+InfinispanOrg")
          %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")

