---
layout: project
title: Download - Integrations
---

.row
  .col-md-9

    %ul.breadcrumb
      %li
        %a{:href => "/download"} Downloads
      %li.active Integrations

    %table.table.table-striped
      %tbody
        - site.ispn.integrations.each do |name, comp|
          %tr
            %td.col-md-9
              %h4 #{comp.title}
              %p
                = partial(comp.text)

            %td.col-md-3
              = partial( 'view-on-github-button.html.haml', {"repo" => comp.github} )
              - if comp.has_key?("external_package")
                = partial( 'external-package-button.html.haml', {"package" => comp.external_package, "type" => comp.external_package_type} )
          %tr
            %td{:colspan => 2}
              %br
              %table.table.table-bordered.table-striped
                %thead
                  %tr
                    %th{:width => "10%"} Version
                    %th{:width => "15%"} Release date
                    %th{:width => "25%"} Release notes
                    %th{:width => "10%"}
                    - if comp.has_key?("external_artifact_type")
                      %th{:width => "10%"}
                - comp.releases.each do |version, detail|
                  %tr
                    %td
                      = version
                    %td
                      #{detail.release_date}
                    %td
                      - if !detail.release_notes.nil?
                        %a{:href => detail.release_notes, :target => "_NEW"}
                          %i.icon-pencil
                          Release Notes
                    %td
                      = partial( 'maven-coords-button.html.haml', {"groupId" => comp.maven_group_id, "artifactId" => comp.maven_artifact_id, "version_stable" => version, "modal_id" => "#{name}#{version.to_s}"} )
                    - if comp.has_key?("external_artifact_type")
                      %td
                        - instructions = comp.external_artifact_instructions % { :version => version }
                        = partial( 'external-artifact-button.html.haml', {"type" => comp.external_artifact_type, "build_file" => comp.external_artifact_build_file, "instructions" => instructions, "modal_id" => version.to_s} )

  .col-md-3
    = partial("rightcol-docs.html.haml")
