---
layout: project
title: Download - Integrations
---

.row
  .col-md-9

    %ul.breadcrumb
      %li
        %a{:href => "/download"} Downloads
      %li.active Integrations

    %table.table.table-striped
      %tbody
        - site.ispn.integrations.each do |name, comp|
          %tr
            %td.col-md-9
              %h4 #{comp.title}
              %p
                = partial(comp.text)
            %td.col-md-3
              = partial( 'view-on-github-button.html.haml', {"repo" => comp.github} )
              = partial( 'maven-coords-button.html.haml', {"groupId" => comp.maven_group_id, "artifactId" => comp.maven_artifact_id, "version_stable" => comp.version_stable} )
              - if comp.has_key?("sbt_artifact_id")
                = partial( 'sbt-button.html.haml', {"sbtArtifact" => comp.sbt_artifact_id, "version_stable" => comp.version_stable} )
              - if comp.has_key?("spark_package")
                = partial( 'spark-package-button.html.haml', {"package" => comp.spark_package} )
              %br

  .col-md-3
    = partial("rightcol-docs.html.haml")
