- artifactId = page["artifactId"]
- groupId = page["groupId"] || "org.infinispan"
- version = page["version"]
%h4 Maven
%p
  Add the following to the dependencies declared in your 
  %code pom.xml
  file
  %pre
    :preserve        
      ...
      &lt;dependency&gt;
        &lt;groupId&gt;#{groupId}&lt;/groupId&gt;
        &lt;artifactId&gt;#{artifactId}&lt;/artifactId&gt;
        &lt;version&gt;#{version}&lt;/version&gt;
      &lt;/dependency&gt;
      ...
%h4 Gradle
%p
  Add the following to the dependencies section of your
  %code build.gradle
  file
%pre
  :preserve
    ...
    dependencies {
      ...
      implementation '#{groupId}:#{artifactId}:#{version}'
      ...
    }
    ...
%h4 Ivy
%p
  Add the following to the dependencies section of your
  %code ivy.xml
  file
%pre
  :preserve
    ...
    &lt;dependencies&gt;
      ...
      &lt;dependency org="#{groupId}" name="#{artifactId}" rev="#{version}"/&gt;
      ...
    &lt;/dependencies&gt;
