- real_page = page["real_page"]
- if page.url == '/'
  %title #{site.title}
- else
  %title #{real_page.title} - #{site.title}
%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
- pageStyle = page.style ;
%link(href="#{pageStyle ? site[pageStyle].bootstrap_css_url : site.bootstrap_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
%link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")
/ IE 6-8 support of HTML 5 elements
/[if lt IE 9]
  %script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

/ Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

%link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png")
%link(rel="apple-touch-icon-precomposed" href="#{site.project_images_url}/apple-touch-icon-precomposed.png")
%link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/github.min.css")
%link(rel="stylesheet" href="//static.jboss.org/css/rhbar.css" media="screen")

:css
  .jumbotron {
    padding: 0.5em 0.1em 0.5em 0.1em;
    background-image: none;
    background-color: #ffec9f;
  }
  .jumbotron p, .jumbotron h1 {
    color: #656565;
  }
  .dropup {
    z-index: 1032;
  }
  .navbar {
    font-size: x-large;
  }
  .navbar ul {
    padding-top: 0.7em;
  }
  .navbar-brand {
    height: 70px;
  }
  h3.well {
    border-color: #ffd630;
    background-color: #ffec9f;
  }
  .panel-sidebar {
    border-color: #f5f5f5;
  }
  .panel-sidebar > .panel-heading {
    border-color: #e3e3e3;
    background-color: #f5f5f5;
    color: #656565;
  }
  .btn-primary {
    border-color: #ffd630;
    background-color: #ffec9f;
    color: #656565;
  }
  footer.container {
    background-color: white;
  }
  footer.container h1, footer.container h2, footer.container h3, footer.container h4, footer.container h5, footer.container h6, footer.container p, footer.container a {
    color: #656565;
  }
  footer.container ul {
    padding: 0;
  }
  i.enormous-icon {
    margin-top: 0.3em;
  }
  .home-examples {
    font-size: 16px;
  }

%script(src="#{site.jborg_js_url}/libs/jquery/jquery-1.9.1#{site.minified}.js")
- if page.javascripts
  - page.javascripts.each do |javascript|
    %script{:src=>javascript, :type=>'text/javascript'}
    
%script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js")
%script
  hljs.initHighlightingOnLoad();

