- artifactId = page["artifactId"]
- groupId = page["groupId"] || "org.infinispan"
- version = page["version"]
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "mvn" + page["modal_id"], :style => "text-align: left;"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title#myModalLabel Dependency coordinates
      .modal-body
        %h5 Maven
        %p
          Add the following to the dependencies declared in your 
          %code pom.xml
          file
        %pre
          :preserve        
            ...
            &lt;dependency&gt;
              &lt;groupId&gt;#{groupId}&lt;/groupId&gt;
              &lt;artifactId&gt;#{artifactId}&lt;/artifactId&gt;
              &lt;version&gt;#{stable}&lt;/version&gt;
            &lt;/dependency&gt;
            ...
        %hr
        %h5 Gradle
        %p
          Add the following to the dependencies declared in your 
          %code build.gradle
          file
        %pre
          :preserve        
            ...
            dependencies {
              ...
              implementation '#{groupId}:#{artifactId}:#{version}'
              ...
            }
            ...
        %hr
        %h5 Ivy
        %p
          Add the following to the dependencies declared in your 
          %code ivy.xml
          file
        %pre
          :preserve        
            ...
            &lt;dependencies&gt;
              ...
              &lt;dependency org="#{groupId}" name="#{artifactId}" version="#{version}"/&gt;
              ...
            &lt;/dependencies&gt;
            ...

        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
