.navbar.navbar-inverse#navbar-fix
	.navbar-inner
		.container
			%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%ul.nav
					%li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
						%a(href="#{site.base_url}/index.html") Home
					%li{:class=>"#{'active' if page.output_path.start_with?('/learn') }" }<
						%a(href="#{site.base_url}/learn.html") About
					%li{:class=>"#{'active' if page.output_path.start_with?('/getstarted') }" }<
						%a(href="#{site.base_url}/getstarted.html") Get Started
					%li{:class=>"#{'active' if page.output_path.start_with?('/forums') }" }<
						%a(href="#{site.base_url}/forums.html") Forums
					%li{:class=>"#{'active' if page.output_path.start_with?('/getinvolved') }" }<
						%a(href="#{site.base_url}/getinvolved.html") Get Involved
					%li.dropdown
						%a.dropdown-toggle(href="#{site.base_url}/download.html" data-toggle="dropdown")<
							= precede 'Download ' do
								%b.caret>
						%ul.dropdown-menu
							%li<
								%a(href="#{site.base_url}/download.html") Infinispan Releases
							%li<
								%a(href="#{site.base_url}/cache-store-implementations.html") Cache Store Implementations
							%li<
								%a(href="#{site.base_url}/hotrod-clients.html") Hot Rod Clients
					%li.dropdown
						%a.dropdown-toggle(href="#" data-toggle="dropdown")<
							= precede 'Follow Us ' do
								%b.caret>
						%ul.dropdown-menu.projectsocialmedia
							%li<
								%a(href="https://twitter.com/infinispan")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
					%li.divider

				%ul.nav.pull-right
					%li
						%form.navbar-search
							%input.search-query#projectsearch(type="text" placeholder="Search")