.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/" style="margin-left: 0")
        %img(src="/images/infinispan_nav_brand.png" alt="Infinispan")
    #thenavbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle(href="/about" data-toggle="dropdown")<
            = precede 'About ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="/about") Introduction
            %li<
              %a(href="/features") Features
            %li<
              %a(href="/release-notes") Release notes
            %li<
              %a(href="/references") References
        %li.dropdown
          %a.dropdown-toggle(href="/documentation" data-toggle="dropdown")<
            = precede 'Learn ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="/documentation") Documentation
            %li<
              %a(href="/tutorials") Tutorials
        %li.dropdown
          %a.dropdown-toggle(href="/download" data-toggle="dropdown")<
            = precede 'Download ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="/download") Infinispan Releases
            %li<
              %a(href="/cache-store-implementations") Cache Store Implementations
            %li<
              %a(href="/hotrod-clients") Hot Rod Clients
        %li.dropdown
          %a.dropdown-toggle(href="/community" data-toggle="dropdown")<
            = precede 'Community ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="/community") Ask for Help
            %li<
              %a(href="/getinvolved") Get Involved
        %li{:class=>"#{'active' if page.output_path.start_with?('/roadmap') }" }<
          %a(href="/roadmap") Road Map              
        %li.divider
%hr
