.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
            %a(href="/index.html") Home
          %li{:class=>"#{'active' if page.output_path.start_with?('/learn') }" }<
            %a(href="/learn.html") About
          %li.dropdown  
            %a.dropdown-toggle(href="/getstarted.html" data-toggle="dropdown")<
              = precede 'Get Started ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="/getstarted.html") Quickstarts
              %li<
                %a(href="/getstarted.html#documentation") Documentation
          %li{:class=>"#{'active' if page.output_path.start_with?('/forums') }" }<
            %a(href="/forums.html") Forums
          %li{:class=>"#{'active' if page.output_path.start_with?('/getinvolved') }" }<
            %a(href="/getinvolved.html") Get Involved
          %li.dropdown
            %a.dropdown-toggle(href="/download.html" data-toggle="dropdown")<
              = precede 'Download ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="/download.html") Infinispan Releases
              %li<
                %a(href="/cache-store-implementations.html") Cache Store Implementations
              %li<
                %a(href="/hotrod-clients.html") Hot Rod Clients
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="https://twitter.com/infinispan")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
          %li.divider

        %ul.nav.pull-right
          %li
            %form.navbar-search
              %input.search-query#projectsearch(type="text" placeholder="Search")