%footer.container
  .row-fluid
    .span2.offset1
      %h4 Navigate
      %ul
        %li
          %a{:href => "#{site.base_url}/learn.html", :title => "Learn"} Learn
        %li
          %a{:href => "#{site.base_url}/getstarted.html", :title => "Get Started"} Get Started
        %li
          %a{:href => "#{site.base_url}/forums.html", :title => "User Forums"} User Forums
        %li
          %a{:href => "#{site.base_url}/getinvolved.html", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "#{site.base_url}/download.html", :title => "Download"} Download
    .span2
      %h4 Contribute
      %ul
        %li
          %a{:href => "https://issues.jboss.org/browse/ISPN", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://github.com/infinispan", :title => "Write code"} Write Code
      %h4 Follow Us
      %ul
        %li
          %a{:href => "http://blog.infinispan.org", :title => "Blog"} Blog
        %li
          %a{:href => "http://twitter.com/infinispan", :title => "Twitter"} Twitter

    .span2
      %h4 Open Source
      %p 
        Infinispan is released under the 
        %b Apache 2.0 open source license.
        Learn more about the Apache 2.0 license 
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}here.
      %p
      .jbossbadge
        %a{:href => "http://www.jboss.org/"}
          %img{:src => "https://static.jboss.org/theme/images/common/jbossbadge.png"}/

    .span2
      %h4 A part of
      %a{:href=>"http://www.cloudtm.eu/", :alt=>"CloudTM", :target=>"_NEW"}
        %img(src="images/cloudtm.png")
      %a{:href=>"http://leads-project.eu/", :alt=>"LEADS", :target=>"_NEW"}
        %img(src="images/leads.png")

    .span2
      %h4 Thanks to
      %p JetBrains
      %a{:href=>"http://www.jetbrains.com/idea/", :alt=>"JetBrains", :target=>"_NEW"}
        %img(src="http://www.jetbrains.com/idea/opensource/img/banners/idea125x37_white.gif")
      %p EJ Technologies
      %a{:href=>"http://www.ej-technologies.com/products/jprofiler/overview.html", :alt=>"EJ Technologies", :target=>"_NEW"}
        %img(src="http://static-aws.ej-technologies.com/fSPWWYHqc7hE2dXygJb0KGSIf3TPEGUnaU62MxxGsIv.png")
  .span10
    %p{:style => "margin-top: 5px; font-size: 80%;"}
      %i.icon-globe
      This website is open source! If you want to improve it, 
      %a{:href => "http://github.com/infinispan/infinispan.github.io", :style=>"text-decoration: underline;"}fork the project,
      hack on it, then send a pull request. You can also view the
      %a{:href => "http://www.seethestats.com/site/infinispan.org", :style=>"text-decoration: underline;"}visitor stats.
      %br
      %i.icon-share
      Website and documentation released under
      %a{:href => "http://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;"}CC BY 3.0.
    

