---
layout: project
title: Blog
---

- for post in page.posts
  .post
  %h3
    = post.date.strftime( '%A, %d %B %Y' )
  %h1
    %a{:href=>post.url}= post.title
  .content
    = post.content
  - post.tags.each do |tag|
    %a.label{:href=>tag.primary_page.url}
      = tag
  %hr
= page.posts.links

